@charset "utf-8";
@import "mybulma/bulma.sass";

// Sobrescribe la variable de color primario después de importar Bulma
$primary: #303030;
$secondary: #1b1b1b;
$title-color: white;

// Resto de tus estilos personalizados aquí
#navMenu {
  height: 120px;
}

// Estilo para la barra de navegación y el pie de página
.navbar.is-primary, .footer {
  background-color: $primary;
}

// Estilo para el texto del pie de página
.footer {
  color: white;
}

// Estilo para los títulos con clase "is-capitalized" y margen izquierdo
.title.is-capitalized.pl-4 {
  color: $title-color;
}

// Estilo para los elementos de la barra de navegación al pasar el ratón
.navbar-item {
  &:hover {
    background-color: $secondary !important; // Usa !important para asegurar que se aplique
  }
}

// Estilo para el menú desplegable de la barra de navegación al pasar el ratón
.navbar-item.has-dropdown.is-hoverable:hover .navbar-dropdown {
  background-color: $secondary !important;
}

// Estilo para el enlace del menú desplegable de la barra de navegación al pasar el ratón
.navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
  background-color: $secondary !important;
}

// Estilo para los elementos del menú desplegable de la barra de navegación
.navbar-item.has-dropdown.is-hoverable .navbar-dropdown .navbar-item {
  background-color: $primary !important;
  color: $white !important; // Puedes ajustar el color del texto según tus preferencias
}

// Estilo para los elementos del menú desplegable al pasar el ratón
.navbar-item.has-dropdown.is-hoverable .navbar-dropdown .navbar-item:hover {
  background-color: white !important;
  color: $primary !important; // Puedes ajustar el color del texto según tus preferencias
}

// Estilo para los enlaces dentro del contenido de las tarjetas
.card-content a {
  color: $primary !important;
}
